<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Crypto-Source</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="index.html">Return to Home</a>
            </nav>
        </header>

        <h1>Input Private Key into Box below</h1>

        <form action="privatekey" method="POST">
            Private Key (D): <input type="number" name="d"><br>
            Private Key (N): <input type="number" name="n"><br>
            <input type="submit" value="submit">
        </form>

        <h2>Use Text Box Below to Decrypt Ciphertext</h2>

        <form action="/Decryption" method="POST">
            Message to Decrypt: <input type="text" name="ciphertext"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>