<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Crypto-Source</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="Encrypt.html">Encrypt</a> |
                <a href="Decrypt.html">Decrypt</a> |
            </nav>
        </header>

        <h1>Welcome to Crypto-Source! Your Friendly RSA Encryption Application</h1>

        <p> To get started, input a prime number, then below it input a second different prime number</p>

        <form action="/KeyGenereration" method="post">
            First Prime Number: <input type="number" name="p"><br>
            Second Prime Number: <input type="number" name="q"><br>
            <input type="submit" value="KeyGeneration">
        </form>
    </body>
</html>